*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    color: var(--main-color);
    font-family: 'Josefin Sans', sans-serif;
    font-size: var(--font-size-txt);
    font-weight: 350;
    line-height: normal;
    margin: 1vh 3vw;
}

:root {
    --primary-color: rgb(255, 255, 241); /*background*/
    --secondary-color: rgb(153, 153, 151); /*rollover - hover */
    --main-color: rgb(99, 57, 57); /* main font */
    --font-size-headings: calc(1.2rem + 1.5vw); /*also used for h1*/
    --font-size-subheadings: calc(1.2rem + 1.2vw); /*also used for h2*/
    --font-size-links: calc(.5rem + 1vw); /* also used for h3*/
    --font-size-txt: calc(.6rem + .5vw); 
    --font-weight-heavy: 500;
    --font-weight-medium: 400;
    --font-weight-light: 350;
}

@font-face {
    font-family: "Josefin Sans", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,700;1,500&family=Poppins:wght@600&family=Recursive&family=Source+Code+Pro:wght@400;900&display=swap");
}

h1 {
    font-size: var(--font-size-headings);
    font-weight: var(--font-weight-heavy);
}

h2 {
    font-size: var( --font-size-subheadings);
    font-weight: var(--font-weight-medium);
}
  
h3 {
    font-size: var( --font-size-links);
    font-weight: var(--font-weight-medium);
}

p {
    font-size: var(--font-size-txt);
    font-weight: var(--font-weight-light);
}

a {
    color: var(--main-color);
    font-size: var(--font-size-links);
    text-decoration: none;
    font-weight: var(--font-weight-medium);
    position: relative;
}

/* Animation now revised - needed:
 position: relative on <a> above
*/
 
 .navigation-list a:before, .navigation-list a:after
 {
     position: absolute;
     opacity: 0;
     width: 0%;
     height: 2px;
     content: '';
     background: var(--secondary-color);
     transition: all 0.3s;
 }
 
 .navigation-list a:before
 {
     left: 0px;
     top: -.8vw; /* width for responsiveness*/
 }
 
.navigation-list a:after
 {
     right: 0px;
     bottom: -.6vw;
 }
 
.navigation-list a:hover:before, .navigation-list a:hover:after
 {
     opacity: 1;
     width: 100%;
 }
/* basic nav links styling */
a:visited {
    color: rgb(3, 3, 3);
}
  

a:hover, a:focus {
    color:var(--secondary-color);
    text-decoration: none;
}


a:active {
    color: #e05151;
}


li {
    list-style: none;
}








/*nav a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
  width: 180px;
  text-align: center;
	font-size: 1.35em;
}


nav a:hover,
nav a:focus {
	outline: none;
}


nav {
	position: relative;
	z-index: 1;
}

nav a { 
    position:relative;
	padding: 0 5px;
	color: #b4770d;
	font-weight: 200;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
    
}

nav a::before,
nav a::after {
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	height: 2px;
	margin-top: -1px;
	background: var(--secondary-color); /*colour of the animation
	content: '';
	z-index: -1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

nav a::before {
	transform: translateY(-1.5vw);
    
}

nav a::after {
	transform: translateY(1.2vw);
    
}

nav a:hover,
nav a:focus {
	color: black;
}

nav a:hover::before,
nav a:hover::after,
nav a:focus::before,
nav a:focus::after {
	opacity: 0.9;
  
  
}

nav a:hover::before,
nav a:focus::before {
  -webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

nav a:hover::after,
nav a:focus::after {
 	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}



I could not make this work - no answer from tutor either:
... why is this animation on the whole page/body instead of top and bottom of the link text?? 
Took it from this pen, where the links are just divs not a list - is that a reason? Reallly tried a lot here...
 https://codepen.io/EvyatarDa/pen/waKXMd  
 
.navigation-list_item a::before, .navigation-list_item a::after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 20px;
    content: '';
    background: var(--secondary-color);
    transition: all 0.3s;
}


.navigation-list_item a::before {
    left: 0px; 
    top: 0px;
}

.navigation-list_item a::after {
    right: 0px;
    bottom: 0px;
}

.navigation-list_item a::hover:before, .navigation-list_item a::hover:after {
    opacity: 1;
    width: 100%;
}
*/

/* basic nav links styling */
a:visited {
    color: rgb(3, 3, 3);
}
  
a:hover, a:focus {
    color:var(--secondary-color);
    text-decoration: none;
}

a:active {
    color: red;
}

li {
    list-style: none;
}

/* top main header navigator for all pages */
.page-header {
    display: flex;
    width: 100%;
    padding: 2vh 0;
    border-bottom: 2px solid var(--secondary-color);
    height: 15vh;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list li {
    display: inline-block;
    padding: 20px;  
}

.main-logo {
    width: 300px;
    max-width: 30vw;
}

/* for main nav on smaller screens*/
@media all and (max-width: 650px) {
    .main-logo {
       max-width: 20vw;
    }
    .navigation-list li {
        padding: 5px;
    }
}


/*the GRID for the WORK page starting with  grid fallback */

.works-grid__item {
    display: inline-block;
    width: 33%;
    padding: 1em;
    transition-duration: 0.8s;
    transition-property: background-color;
     
}
/*  end grid fallback */
  

@supports (display: grid) {
    .works-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    }

    .works-grid__item {
    background-color: var(--main-color);
    color: var(--primary-color);
    width: auto;
    min-height: auto;
    margin: 0;
    font-size: medium;
    }
}

.works-grid__item:hover,
.works-grid__item:focus {
    background-color:  var(--secondary-color);
    cursor: pointer;
}




/* profile main center index page */

.profile {
    max-width: 900px;
    margin: 16vh auto 6vh auto;
    padding: 30px;
}

.profile__headlines {
    padding-top: 8px;
}

.profile__portrait {
    border-radius: 50%;
    float: left;
    max-width: 250px;
    margin-right: 5vw;
    width: 40%;
}

/* ABOUT page */

.about-center {
    text-align: center;
    max-width: 700px;
    margin: 5vh auto;
}

.about-center__background-info-txt {
    text-align: justify;
}

.about-center__skills-list {
    margin: 5vw auto;
    border: 1px solid var(--main-color);
    border-radius: 8px;
    padding: 1em;
}

/* animations on ABOUT page */
@keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
}



@keyframes move-logo {
    from {
        transform: translate(50vw, 70vh) scale(7);
        opacity: 0.3;
        
    }
    to {
        transform: translate(1vw, 2vh) scale(1);
        opacity: 1;
    }
    
}

.main-logo--move-ABOUT {
    animation: 40s move-logo 1 alternate linear;
    z-index: -9;
}


/* footer for all pages  */

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* CONTACT FORM */
.contact-form-container {
    text-align: center;
    margin: 5vh auto;
    
}

.contact-form-container__quick-links {
    padding: 1vh 0;
    line-height: 2;
}

.contact-form-container__online-form  {
    border: solid 2px var(--secondary-color);
    padding: 1.5em;
    border-radius: 20px;
    max-width: 70%;
    width: 900px;
    margin: 0 auto;
}

/* trying to make this less wide as it only takes an email address
#contact-email {
   width: 500px;
}
*/





/* CSS reset buttons */

button, input, select, textarea {
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    font-style: italic;
}
/* end of CSS reset buttons */


input[type=email], textarea, input[type=tel] {
    width: 100%;
    padding: 12px;
    border: 2px solid var(--secondary-color);
    border-radius: 15px;
    box-sizing: border-box;
    margin-top: .5vh;
    margin-bottom: 3vh;
    resize: vertical;
}

/* could be smaller and centered*/
input[type=submit] {
    width: 40%;
    padding: 2vh;
    border: 2px solid var(--secondary-color);
    border-radius: 15px;
    box-sizing: border-box;
    margin: 3vh auto 1vh;
}

input[type=submit]:hover {
    background-color: #e0dddd;
}


.error-message {
    color: red;
    font-size: 1em;
    font-weight: 700;
    
    margin-top: -15px;
  }
  


/* work grid responsiveness

more space on sides of grid for larger screens with heading moved to match */
@media (min-width: 900px) {
    .works-grid {
        max-width: 80%;
        margin: 0 auto;
    }
    .work {
        padding-left: 10%;
    }
}

@media all and (max-width: 500px) {
    
    .works-grid {
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
    .works-grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
}

@media all and (min-width: 500px) and (max-width: 750px){
    .works-grid {
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }
    .works-grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    } 
}

/* ABOUT PAGE */

button,
.button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #c48431;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    /* 3D / shadow effect */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: 0.5s opacity;
}



button:hover,
button:focus,
.button:hover,
.button:focus {
   cursor: pointer;
   opacity: 0.5;
}

/*
button {
    border: none;
    background-color: #7b7e7d;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover, button:focus {
    cursor: pointer;
    opacity: 0.5;
}


.button__secondary {
    background-color: #e0b354;
    color: #2b2b2b;
} */